

.execute {
	width: 100%;
	position: relative;
}
.execute .execute_detail {
	width: 100%;
	box-sizing: border-box;
	padding: 0.1rem;
}
.execute_detail .machine_code {
	width: 0.65rem;
}
.execute .execute_message {
	width: 100%;
	padding: 0.1rem;
	box-sizing: border-box;
}
.selectPlanMan{
	position: relative;
}
.selectPlanMan .menuShow {
	width: 100%;
	position: absolute;
	top: 0.25rem;
	left: 0;
}
.menuShow .menu_list {
	height: 1rem;
	background: #f99;
	overflow: auto;
}
.menu_list .menu_item {
	background: #9ff;
	margin: 0.1rem 0;
}
.execute_message .remark_describe {
	height: 1.2rem;
	border: 1px solid #ccc;
	padding: 0.05rem;

}
/*确认时的弹出框*/
.confirmModel {
	width: 2rem;
	height: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1rem;
	margin-top: -1rem;
	background: #fff;
	z-index: 1003;
	padding: 0.2rem;
	box-sizing: border-box;
}
/*撤销时的弹出框*/
.cancelModel {
	width: 2rem;
	height: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1rem;
	margin-top: -1rem;
	background: #fff;
	z-index: 1003;
	padding: 0.2rem;
	box-sizing: border-box;
}
/*遮罩层*/
.shade {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1002;
}
.color_white {
	color: #fff;
}

/*公用的类*/
.pWidth {
    width: 0.7rem;
    margin-right: 0.1rem;
}
.selectActive {
	width: 100%;
	height: 0.3rem;
}
.textareaHeight {
	width: 100%;
	height: 1rem;
}
.inputHeight {
	width: 100%;
	height: 0.3rem;
}




